h2 {
    margin-top: 1.2em;
}

h2 + h3 {
    margin-top: 1.2em;
}

#table-of-contents + ul + h3 {
    margin-top: 1.2em;
}

h4.processing {
    border: 1px solid var(--fg);
    border-radius: 3px;
    padding: 1ex 0.5em;
    background-color: var(--table-header-bg);
    vertical-align: baseline;
    height: 1.55em;
    font-weight: bold;
}

h5 {
    margin-bottom: 0;
}

h5 + p {
    margin-top: 0;
}

h5 + pre {
    margin-top: 0;
}

ul ul {
    padding-left: 1.5em;
}

table {
    margin-left: 0;
}

th:empty {
    display: none;
}

#table-of-contents + ul {
    margin-top: 0.2em;
    padding-left: 0;
    list-style: none;
    font-size: 0.9em;
}

#table-of-contents + ul ul {
    list-style: none;
}

/* we abuse <var> for token attributes */
var {
    color: var(--links);
}

/* we abuse <b> for literal characters and character sequences */
b {
    font-family: var(--mono-font);
    font-weight: normal;
    font-style: normal;
    background-color: var(--searchresults-li-bg);
}

/* we abuse <u> to mean "characters captured from this nonterminal" */
u {
    font-family: var(--mono-font);
    font-weight: normal;
    text-decoration: none;
    background-color: var(--quote-bg);
}

/* we abuse <kbd> for named control characters */
kbd {
}

/* Summary table of quoted literal forms */

.escapes-table th {
    background-color: var(--quote-bg);
    font-size: 15px;
    text-align: left;
    vertical-align: bottom;
}

.escapes-table td {
    white-space: nowrap
}


/* Different rules on the PEGs description page */

.pegs-description ul {
    margin-top: 0;
}

.pegs-description p:has( + ul ) {
    margin-bottom: 0;
}

.pegs-description var {
    color: var(--fg);
    font-weight: bolder;
}

.pegs-description h5 + p {
    margin-top: 1em;
}

.pegs-description pre small {
    font-family: sans-serif;
}

.pegs-description code {
    white-space: preserve nowrap;
}
