h2 {
    margin-top: 1.2em;
}

h2 + h3 {
    margin-top: 1.2em;
}

h4.processing {
    border: 1px solid var(--fg);
    border-radius: 3px;
    padding: 1ex 0.5em;
    background-color: var(--table-header-bg);
    vertical-align: baseline;
    height: 1.55em;
    font-weight: bold;
}

h5 {
    margin-bottom: 0;
}

h5 + p {
    margin-top: 0;
}

h5 + pre {
    margin-top: 0;
}

table {
    margin-left: 0;
}

th:empty {
    display: none;
}

/* we abuse <var> for token attributes */
var {
    color: var(--links);
}

/* we abuse <b> for literal characters and character sequences */
b {
    font-family: var(--mono-font);
    font-weight: normal;
    font-style: normal;
    background-color: var(--searchresults-li-bg);
}

/* we abuse <u> to mean "characters captured from this nonterminal" */
u {
    font-family: var(--mono-font);
    font-weight: normal;
    text-decoration: none;
    background-color: var(--quote-bg);
}

/* we abuse <kbd> for named control characters */
kbd {
}
